<ons-modal #modal class="bml-modal">
  <div row h-align-right>
    <div col h-align-right>
      <span class="bml-icon big bml-icon-close primary" (click)="onClose(modal)"></span>
    </div>
  </div>

  <div row>
    <h2 col no-margin padding ><span margin-right class="bml-icon bml-icon-glass primary"></span> Buscar movimientos</h2>
  </div>

  <div row>
    <div col no-padding>
      Adios
    </div>
    <div col no-padding>
      Hola
    </div>
  </div>

  <div row center>
    <button (click)="onApplyFilter(modal)" class="bml-button bml-button-primary">Cargar</button>
  </div>

</ons-modal>
