<ons-modal #modal class="bml-modal">
  <form [formGroup]="form" (ngSubmit)="onSubmit(modal)" novalidate>
    <div h-align-right>
        <span class="bml-icon big bml-icon-close primary" (click)="onClose(modal)"></span>
    </div>

    <div row>
      <h2 col no-margin padding ><span margin-right class="bml-icon bml-icon-glass primary"></span> Buscar movimientos</h2>
    </div>

    <div row>
      <div col no-padding>
        <bml-input type="date" formControlName="fromDate" placeholder="DD/MM/YYYY" label="Desde:"></bml-input>
      </div>
      <div col no-padding>
        <bml-input type="date" formControlName="toDate" placeholder="DD/MM/YYYY" label="Hasta:"></bml-input>
      </div>
    </div>

    <div row>
      <div col no-padding>
        <bml-select formControlName="select" placeholder="Selecciona una opción" label="Select:" [(options)]="selectOptions"></bml-select>
      </div>
    </div>

    <div row center padding-v>
      <button type="submit"
              [disabled]="form.invalid"
              class="bml-button bml-button-primary">Cargar</button>
    </div>
  </form>
</ons-modal>
