<ons-modal #modal class="bml-modal">
  <ons-row h-align-right>
    <div h-align-right>
      <span class="bml-icon big bml-icon-close primary" (click)="onClose(modal)"></span>
    </div>
  </ons-row>

  <ons-row>
    <h2 no-margin padding ><span margin-right class="bml-icon bml-icon-glass primary"></span> Buscar movimientos</h2>
  </ons-row>

  <ons-row>
    <!--<ons-col no-padding>
      Adios
    </ons-col>
    <ons-col no-padding>
      Hola
    </ons-col>-->
  </ons-row>

  <ons-row>
    <div h-align-center>
      <button (click)="onApplyFilter(modal)" class="bml-button bml-button-primary">Cargar</button>
    </div>
  </ons-row>

</ons-modal>
