@import "../variables";
@import "../mixins_functions/color";
@import "../mixins_functions/texts";
@import "../mixins_functions/box_model";

////
/// @group components/form_elements
////

/// Form elements
.bml-form-group {
  @include padding($paddingDimension / 2, $paddingDimension / 2, $paddingDimension / 2, $paddingDimension / 2);
  text-align: left;
  position: relative;
  width: 100%;
  box-sizing: border-box ;
  label {
    @include label();
  }
  input:not([type=checkbox]), select {
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    border-radius: 3px;
    background-color: color(white);
    border: solid 1px color(silver);
    padding: 8px;
    -webkit-appearance: none;
    //@TODO apply correct text mixin
    @include body();
  }
  &.date, &.select {
    label {
      &::after {
        font-family: 'bml' !important;
        font-size: 12px;
        content: "\e906";
        color: color(steel);
        position: absolute;
        right: 15px;
        bottom: 15px;
        pointer-events: none;
      }
    }
  }
  &.checkbox {
    label {
      color: color(black);
      input {
        opacity: 0;
      }
      &::before {
        margin-top: 3px;
        position: absolute;
        pointer-events: none;
        content: url('/assets/icon/svg/icon-checkbox.svg');
      }
    }
    &.checked {
      label {
        &::before {
          content: url('/assets/icon/svg/icon-checkbox-selected.svg');
        }
      }
    }
  }
}
