.bml-header-account {
  .bml-header-title {
    font-size: 12px;
    font-weight: 500;
  }
  .bml-header-subtitle {
    font-size: 30px;
    font-weight: 500;
  }
}
/*
  Header style for card titles in Global Position Operative
  Created by Gaston Zorzano
*/
.global-pos-card-block-title {
  font-family: 'Montserrat-Medium';
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #232323;
  color: var(--black);
  padding-top: 14px;
  padding-bottom: 12px;
}
