@import "../mixins_functions/color";

////
/// @group components/image
////

/// Make an image rounded and adds a border
.image-user {
  border-radius: 50%;
  border: solid 3px color(primary-two);
  &.small {
    width: 44px;
    height: 44px;
  }
  &.medium {
    width: 50px;
    height: 50px;
  }
  &.big {
    width: 80px;
    height: 80px;
  }
}
