@import "../mixins_functions/_color.scss";

.bml-modal {
  background: color(almost-white);
  padding: $paddingDimension;
  * {
    color: color(black);
  }
  .modal__content {
    display: inline;
  }
}

/*
Generic container
*/
.generic-slide-in-card {
  position: relative;
  left: -600px;
  top: -200px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.14);
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
  border-radius: 3px;
  margin-bottom: 10px;
}
