@import "../mixins_functions/color";

.page__background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e96d7+0,1e96d7+50,ffffff+50,ffffff+100 */
  background: color(primary); /* Old browsers */
  background: -moz-linear-gradient(top, color(primary) 0%, color(primary) 50%, color(almost-white) 50%, color(almost-white) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, color(primary) 0%,color(primary) 50%,color(almost-white) 50%,color(almost-white) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, color(primary) 0%,color(primary) 50%,color(almost-white) 50%,color(almost-white) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
