@import "../mixins_functions/texts";

tag {
  width: fit-content;
  .tag-text{
    height: 25px;
    border-radius: 30px;
    text-align: center;
    white-space:nowrap;
    box-sizing: border-box;
    width: 100%;
    @include small()
  }
}
