@import "../mixins_functions/texts";

body {
  @include body-regular();
}

h2 {
  font-size: 16px !important;
  font-weight: 500;
  color: color(primary);
}

p {
  margin: 0;
}

.body-bold {
  @include body-bold();
}

.body-regular {
  @include body-regular();
}

.form-label {
  @include form-label();
}
