@import "../../../styles/mixins_functions/color";

.client-card {
  margin: 0 auto;
  border-radius: 8px;
  background: linear-gradient(color(primary-one) 0%, color(primary-one) 50%, color(white) 50%, color(white) 100%);
  height: 50px;
  overflow: hidden;
}
.ball {
  height: 50px;
  width: 50px;
  position: relative;
  top: -12px;
  margin: 0 auto;
  border-radius: 50px;
  background: linear-gradient(color(white) 0px, color(white) 5px, color(primary-one) 5px, color(primary-one) 100%);
}
.number {
  position: relative;
  top: 10%;
  left: 5%;
  color: color(white);
  font-family: 'Montserrat-Regular';
  font-weight: normal;
}
.amount {
  color: color(white);
  padding: 3px;
  margin: 0;
  font-family: 'Montserrat-Medium';
  margin-right: 10px;
}
