<div class="content" padding>
  <div margin-bottom class="bml-header-account">
    <div row class="bml-header-title" routerLink="/account-info">
      <p col h-align-center no-margin class="white font-medium">
        <small class="bml-icon bml-icon-info primary-two"></small>
        Cuenta común
      </p>
    </div>
    <div row half-margin-bottom class="bml-header-subtitle">
      <p col h-align-center no-margin class="big white">120.456,03€</p>
    </div>
    <div row class="bml-header-tags" h-align-center>
      <tag>
        ES56 3456 3465 2345 2344 <span class="bml-icon bml-icon-copy"></span>
      </tag>
    </div>
  </div>

  <div margin-bottom class="bml-box">
    <h2 no-margin padding text-center (click)="onSearchModalOpen()" class="primary"><span class="bml-icon bml-icon-glass primary-two"></span> {{ 'page.account.button.search_movements' | translate }}</h2>

    <account-movements-list
      [accountMovements]="accountMovements">
    </account-movements-list>
  </div>
</div>

<modal-search-moves #searchMovesModal></modal-search-moves>
