@font-face {
  font-family: 'bml';
  src:  url('bml.eot?ln2ges');
  src:  url('bml.eot?ln2ges#iefix') format('embedded-opentype'),
    url('bml.ttf?ln2ges') format('truetype'),
    url('bml.woff?ln2ges') format('woff'),
    url('bml.svg?ln2ges#bml') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bml-icon-"], [class*=" bml-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bml' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bml-icon-chevron-down:before {
  content: "\e906";
}
.bml-icon-chevron-left:before {
  content: "\e907";
}
.bml-icon-chevron-up:before {
  content: "\e908";
}
.bml-icon-trash:before {
  content: "\e909";
}
.bml-icon-back:before {
  content: "\e900";
}
.bml-icon-chevron-right:before {
  content: "\e901";
}
.bml-icon-close:before {
  content: "\e902";
}
.bml-icon-copy:before {
  content: "\e903";
}
.bml-icon-glass:before {
  content: "\e904";
}
.bml-icon-info:before {
  content: "\e905";
}
