<div class="content" double-padding bg-white>
  <div class="row" bg-pale-grey>
    <div class="flex-item col col-25">
      <p>col-100px</p>
    </div>
    <div class="flex-item col">
      <p>this col fits the rest of row space</p>
    </div>
    <div class="flex-item col col-200px">
      <p>col-200px</p>
      <p>another line</p>
    </div>
  </div>

  <div class="row" bg-pale-grey>
    <div class="flex-item col">
      <p>this col fits the rest of row space</p>
    </div>
    <div class="flex-item col col-50">
      <p>this col fits the rest of row space</p>
    </div>
  </div>

  <div row>
    <div col col-100px class="flex-item">This col has 100px width</div>
    <div class="col flex-item">This col fits the rest of space in row</div>
  </div>

  <div class="row">
    <div class="col col-50px flex-item">This col has 50px width</div>
    <div col class="flex-item">This col fits the rest of space in row</div>
    <div col class="col-25 flex-item">This col has 25% of row width</div>
  </div>
</div>
