<div class="content" padding>
  <ul>
    <li row margin-bottom class="bml-box" *ngFor="let notification of notifications">
      <div col half-padding>
        <small half-margin-bottom class="steel">{{ notification.date }}</small>
        <p>{{ notification.text }}</p>
      </div>

      <div col col-50px center-middle>
        <span class="bml-icon bml-icon-trash font-size-20 silver"></span>
      </div>
    </li>
  </ul>

  <div row center>
    <button (click)="onApplyFilter(modal)" class="bml-button bml-button-primary">Borrar todas</button>
  </div>
</div>
