<div padding margin-bottom class="audio-container {{ state }} bg-slate-grey">
  <div class="audio-unavailable" text-center>
    <h1 margin-bottom>Radio Offline</h1>
    <mat-spinner  strokeWidth="4"></mat-spinner>
    <p>Conectando...</p>
  </div>

  <div row class="audio-available">
    <div col text-center>
      <button (click)="togglePlayPause()" class="play-pause-btn"><span [class.ga-icon-pause2]="state == 'play'" class="ga-icon ga-icon-play3"></span></button>
      <p>{{ currentTime }}</p>
    </div>

    <div col text-center>
      <mat-slider no-padding [value]="volume" min="0" max="1" step="0.1" vertical></mat-slider><br>
      <button (click)="toggleMute()" class="mute-btn"><span [class.ga-icon-volume-mute2]="volume == 0" class="ga-icon ga-icon-volume-high"></span></button>
    </div>
  </div>
</div>

<audio hidden #audio controls [src]="src" [volume]="volume"></audio>