<div class="audio-container {{ state }}">
  <div class="audio-unavailable">
    <h1>Offline</h1>
  </div>

  <div class="audio-available">
    <button (click)="togglePlayPause()" [class.paused]="state == 'pause'" class="play-pause-btn"><span class="ga-icon ga-icon-play3"></span></button>
    <button (click)="toggleMute()" [class.muted]="volume == 0" class="play-pause-btn"><span class="ga-icon ga-icon-volume-high"></span></button>
    <p>{{ currentTime }}</p>
    <input type="range" (input)="onVolumeRangeChange($event)" [ngModel]="volume" min="0" max="1" step="0.1"/>
  </div>
</div>

<audio hidden #audio controls [src]="src" [volume]="volume"></audio>