
<div class="global-accounts-card generic-slide-in-card">
  <div class="global-pos-card-block-title">
    <p>Mis Cuentas</p>
  </div>
  <div>
    <div class="circle-container flex-container ">
      <div class="circle flex-item">
        <div class="circle-content">
          <p class="ct1">{{ unica | currency:'USD': true:'4.2-2'}}</p>
          <p class="ct2" style="font-size: 14px; color: #1e96d7">Cuenta Unica</p>
        </div>
      </div>
      <div class="circle flex-item second">
        <div class="circle-content">
          <p class="ct1" style="color: #192d6e">{{ freedom | currency:'EUR': true:'4.2-2'}}</p>
          <p class="ct2" style="font-size: 14px">Cuenta Freedom</p>
        </div>
      </div>
    </div>
    <div class="dots-container">
      <div class="dot"></div>
      <div class="dot" style="opacity: 0.46"></div>
      <div class="dot" style="opacity: 0.46"></div>
    </div>
  </div>
