.fab-menu {
  position: absolute;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  .backdrop {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+1,1+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width: 1600px;
    height: 1600px;
    left: -800px;
    position: absolute;
    bottom: -34px;
    opacity: 0;
    pointer-events: none;
  }
  .fab-toggle {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    background: #1e96d7;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 40px;
    transition: transform ease-out 200ms;
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
  }
  .fab-item {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: -39px;
    position: absolute;
    top: 21px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 40px;
    transition: transform ease-out 200ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 180ms;
    transform: translate3d(0, 0, 0);
    &:before {
      opacity: 0;
      content: attr(data-label);
      color: #fff;
      /* height: 20px; */
      /* background: red; */
      top: 40px;
      width: 100px;
      left: -50%;
      position: absolute;
      font-family: Montserrat;
      font-size: 12px;
    }
  }
  &.active {
    .fab-toggle {
    }
    .fab-item {
      &:before {
        opacity: 1;
      }
    }
  }
}
