<div class="content" double-padding >
  <div margin-bottom class="bml-header-account">
    <div row class="bml-header-title">
      <p col h-align-center no-margin class="white">
        <span class="bml-icon bml-icon-info primary-two"></span>
        Cuenta común
      </p>
    </div>
    <div row half-margin-bottom class="bml-header-subtitle">
      <p col h-align-center no-margin class="white">120.456,03€</p>
    </div>
    <div row class="bml-header-tags">
      <div col h-align-center>
        <p class="notification bml-tag bg-primary-two">ES56 3456 3465 2345 2344 <span class="bml-icon bml-icon-copy"></span></p>
      </div>
    </div>
  </div>

  <div margin-bottom class="bml-box">
    <div row class="border-bottom border-pale-grey">
      <div col padding class="border-right border-pale-grey">
        <h3 text-center no-margin class="primary">1.284€</h3>
        <p text-center no-margin class="primary-two">saldo</p>
      </div>
      <div col padding>
        <h3 text-center no-margin class="primary">2.123€</h3>
        <p text-center no-margin class="primary-two">disponible</p>
      </div>
    </div>

    <div row class="border-bottom border-pale-grey">
      <p col h-align-center class="black">Interés: 0%</p>
    </div>

    <div row class="border-bottom border-pale-grey">
      <div col padding class="border-right border-pale-grey">
        <p no-margin class="steel">
          <small>Fecha de apertura:</small>
        </p>
        <p no-margin class="black">20/02/2015</p>
      </div>
      <div col padding>
        <p no-margin class="steel">
          <small>Fecha última operación:</small>
        </p>
        <p no-margin class="dark">31/01/2017</p>
      </div>
    </div>

    <div row half-padding>
      <ul col class="attributes-list">
        <li text-left class="steel"><strong class="black">Titular:</strong> Pau Martí García</li>
        <li text-left class="steel"><strong class="black">Forma de posición:</strong> Indistinta</li>
      </ul>
    </div>
  </div>

  <div margin-bottom padding class="bml-box">
    <span float-right class="bml-icon bml-icon-chevron-right primary-two"></span>
    <p no-margin>Órdenes periódicas</p>
  </div>

  <div margin-bottom padding class="bml-box">
    <span float-right class="bml-icon bml-icon-chevron-right primary-two"></span>
    <p no-margin>Domiciliaciones</p>
  </div>
</div>
