<div class="content" double-padding >
  <div margin-bottom class="bml-header-account">
    <div row class="bml-header-title">
      <p col h-align-center no-margin class="white font-medium">
        <small class="bml-icon bml-icon-info primary-two"></small>
        Cuenta común
      </p>
    </div>
    <div row half-margin-bottom class="bml-header-subtitle">
      <p col h-align-center no-margin class="big white">120.456,03€</p>
    </div>
    <div row class="bml-header-tags">
      <div col h-align-center>
        <small class="notification bml-tag bg-primary-two white">ES56 3456 3465 2345 2344 <span class="bml-icon bml-icon-copy"></span></small>
      </div>
    </div>
  </div>

  <div margin-bottom class="bml-box">
    <div row class="border-bottom border-pale-grey">
      <div col padding class="border-right border-pale-grey">
        <h3 text-center no-margin class="number-big primary">1.284€</h3>
        <p text-center no-margin class="body primary">saldo</p>
      </div>
      <div col padding>
        <h3 text-center no-margin class="number-big  primary-two">2.123€</h3>
        <p text-center no-margin class="body primary-two">disponible</p>
      </div>
    </div>

    <div row class="border-bottom border-pale-grey" padding>
      <p col h-align-center class="black">Interés: 0%</p>
    </div>

    <div row class="border-bottom border-pale-grey">
      <div col padding class="border-right border-pale-grey">
        <small no-margin class="steel">Fecha de apertura:</small>
        <p no-margin class="number-small">20/02/2015</p>
      </div>
      <div col padding>
        <small no-margin class="steel">Fecha última operación:</small>
        <p no-margin class="number-small">31/01/2017</p>
      </div>
    </div>

    <div row half-padding>
      <ul col class="bml-list-attributes">
        <li text-left class="steel"><span class="black">Titular:</span> Pau Martí García</li>
        <li text-left class="steel"><span class="black">Forma de posición:</span> Indistinta</li>
      </ul>
    </div>
  </div>

  <div margin-bottom class="bml-box arrow-right">
    <p no-margin padding>Órdenes periódicas</p>
  </div>

  <div margin-bottom class="bml-box arrow-right">
    <p no-margin padding>Domiciliaciones</p>
  </div>
</div>
