//@import "/src/styles/mixins_functions/box_model";
@import "../../../styles/mixins_functions/box_model";
@import "../../../styles/mixins_functions/texts";

/*
.tag-container {
  margin-top: 15px;
  margin-bottom: 10px;∫
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  .tag-content {
    display: block;
    width: 48%;
    word-break: keep-all;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    font-family: 'Montserrat-Medium';
  }
}


tag {
  width: fit-content;
  .tag-text{
    height: 25px;
    border-radius: 30px;
    text-align: center;
    white-space:nowrap;
    box-sizing: border-box;
    width: 100%;
  }
}
*/
