<div class="global-pos-container">
  <div class="account-container">
    <div style="width: 100%;text-align: center">
      <small class="white font-medium">{{ 'page.global_pos.title' | translate }}</small>
      <p class="number-x-big">{{ total | currency:'EUR': true:'1.2-2'}}</p>
    </div>
    <div row margin-v>
      <tag col half-margin-right>{{ 'page.global_pos.label.financing_%amount%' | translate:{amount: finance | currency:'EUR': true:'1.2-2'} }}</tag>
      <tag col half-margin-left bg-color="bg-primary-three">{{ 'page.global_pos.label.investment_%amount%' | translate:{amount: investment | currency:'EUR': true:'1.2-2'} }}</tag>
    </div>
  </div>
  <global-position-accounts></global-position-accounts>
  <global-position-cards></global-position-cards>
  <div class="button-container">
    <button class="btn arrow" >{{ 'page.global_pos.button.retirement' | translate }}<img src="assets/chevron-right.svg" class="button-arrow"/></button>
    <button class="btn secondary"><img src="assets/bizum.jpg" class="btn-bizum"><img src="assets/chevron-right.svg" class="button-arrow"/></button>
  </div>
</div>
