@import "../../../styles/mixins_functions/color";

.tag-container {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  .tag-content {
    display: block;
    width: 48%;
    word-break: keep-all;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    font-family: 'Montserrat-Medium';
  }
}
