<div class="content" style="height: 100%; display: block;">
  <card-blue
    [cardNumber]="cardNumber"
    [cardAmount]="cardAmount">
  </card-blue>

  <card-blue-soft
    [cardNumber]="cardNumber"
    [cardAmount]="cardAmount">
  </card-blue-soft>

  <!-- Tags -->
  <div padding>
    <div row>
      <tag col half-margin-right>
        Tag 1
      </tag>

      <tag
        col half-margin-left
        bg-color="bg-primary-three">
        Tag 2
      </tag>
    </div>

    <div row>
      <tag
        bg-color="bg-secondary">
        Tag 3
      </tag>

      <tag
        bg-color="bg-success">
        Tag 44
      </tag>

      <tag
        bg-color="bg-danger">
        Tag 555
      </tag>
    </div>
  </div>


  <ul class="exp-list-all">
    <card-movement-line [movement]="movement" *ngFor="let movement of movements"></card-movement-line>
  </ul>

  <div style="clear: both; height: 1px;background-color: black; margin-top: 10px; margin-bottom: 10px;"></div>

  <account-movements-list
    [accountMovements]="accounts">
  </account-movements-list>

  <div full-width text-center auto-height>
    <button (click)="showError()" class="bml-button bml-button-primary">Press Here for Error</button>
  </div>
  <div full-width text-center auto-height>
    <button (click)="showSuccess()" class="bml-button bml-button-primary">Press Here for Success</button>
  </div>

</div>
