<div class="content" style="height: 100%; display: block;">
<card-blue
  [cardNumber]="cardNumber"
  [cardAmount]="cardAmount">
</card-blue>

<card-blue-soft
  [cardNumber]="cardNumber"
  [cardAmount]="cardAmount">
</card-blue-soft>

<tag-dark-blue
  [title]="tagTitle"
  [amount]="tagAmount">
</tag-dark-blue>

<tag-purple
  [title]="tagTitle"
  [amount]="tagAmount">
</tag-purple>

<ul class="exp-list-all">
  <card-movement-line [movement]="movement" *ngFor="let movement of movements"></card-movement-line>
</ul>

<div style="clear: both; height: 1px;background-color: black; margin-top: 10px; margin-bottom: 10px;"></div>

<account-movements-list
  [accountMovements]="accounts">
</account-movements-list>

<div style="clear: both; height: 1px;background-color: black; margin-top: 10px; margin-bottom: 10px;"></div>

<div text-center style="width: 100%;">
  <button (click)="alert()" class="bml-button bml-button-primary">Press here</button>
</div>
<div class="alert" [hidden]="!showAlert" (click)="alert()"></div>
<div double-padding text-center class="alert-content" [hidden]="!showAlert">
  <img src="../../assets/confirmed.svg">
  <p>La transferencia se ha realizado con éxito</p>
  <button (click)="alert()" class="bml-button bml-button-primary">Press here</button>
</div>
</div>
