<div class="content" padding>

  <ons-carousel margin-bottom #carousel (postchange)="userSwiped($event)" swipeable auto-scroll overscrollable centered auto-scroll-ratio="0.1" class="bml-cards-carousel">
    <ons-carousel-item half-padding *ngFor="let card of cards; let i = index;" class="carousel-item" [class.current]="carousel.getActiveIndex() == i">
      <img [src]="card.imgSource" width="100%">
    </ons-carousel-item>
  </ons-carousel>

  <div class="cards-opt-container">
    <div margin-bottom class="bml-box">
      <div row class="border-bottom border-pale-grey">
        <div col padding class="border-right border-pale-grey">
          <h3 text-center no-margin class="primary">{{currentCard.spentAmount | currency:'EUR':true:'1.2-2'}}</h3>
          <p text-center no-margin class="primary-two">{{ 'page.cards.text.spent' | translate }}</p>
        </div>
        <div col padding>
          <h3 text-center no-margin class="primary">{{currentCard.availableAmount | currency:'EUR':true:'1.2-2'}}</h3>
          <p text-center no-margin class="primary-two">{{ 'page.cards.text.available' | translate }}</p>
        </div>
      </div>

      <div row class="border-bottom border-pale-grey" padding>
        <p col h-align-center class="black">{{ 'page.cards.text.credit_limit_%amount%' | translate:{amount: currentCard.limitAmount | currency:'EUR':true:'1.2-2'} }}</p>
      </div>

      <div row half-padding>
        <ul col class="bml-list-attributes">
          <li text-left class="steel"><span class="black">{{ 'page.cards.label.holder' | translate }}</span> {{currentCard.clientName}}</li>
          <li text-left class="steel"><span class="black">{{ 'page.cards.label.card_number' | translate }}</span> {{currentCard.cardNumber}}</li>
          <li text-left class="steel"><span class="black">{{ 'page.cards.label.balance' | translate }}</span> {{currentCard.cardBalance | currency:'EUR':true:'1.2-2'}}</li>
        </ul>
      </div>
    </div>

    <div class="bml-box">
      <div padding class="collapsible-header" (click)="expand()" h-align-center>
        <h2 no-margin class="collapsible-header-text primary">{{ 'page.cards.title.last_movements' | translate }} <span class="bml-icon bml-icon-chevron-up movement-chevron" [@desplegado]="state"></span></h2>
      </div>

      <div id="collapsible-content" [@contentDeploy]='content'>
        <ul class="bml-list-alternate-row-color">
          <li row>
            <div col half-padding>
              <p>Pull Bear</p>
              <p>Arteixo</p>
            </div>
            <div col col-80px half-padding h-align-right>
              <p class="number-small steel">{{price | currency:'EUR': true:'1.2-2' }}</p>
            </div>
          </li>

          <li row>
            <div col half-padding>
              <p>Pull Bear</p>
              <p>Arteixo</p>
            </div>
            <div col col-80px half-padding h-align-right>
              <p class="number-small steel">{{price | currency:'EUR': true:'1.2-2' }}</p>
            </div>
          </li>

          <li row>
            <div col half-padding>
              <p>Pull Bear</p>
              <p>Arteixo</p>
            </div>
            <div col col-80px half-padding h-align-right>
              <p class="number-small steel">{{price | currency:'EUR': true:'1.2-2' }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
