<div class="generic-slide-in-card global-cards">
  <div class="global-pos-card-block-title">
    <p>Mis Tarjetas</p>
  </div>
<card-blue
  [cardNumber]="cardNumber"
  [cardAmount]="cardAmount">
</card-blue>
<card-blue-soft
  [cardNumber]="cardNumber"
  [cardAmount]="cardAmount">
</card-blue-soft>

<div style="width: 100%">
  <div class="dots-container">
    <div class="dot"></div>
    <div class="dot" style="opacity: 0.46"></div>
    <div class="dot" style="opacity: 0.46"></div>
  </div>
</div>
</div>
