@import "../../../styles/mixins_functions/color";

.account-list-item {
  font-family: 'Montserrat-Regular';
  background-color: inherit;
  .account-list-item-content {
    display: table;
    .cell {
      display: table-cell;
    }
    .middle {
      width: auto;
    }
    .left {
      width: 20%;
    }
    .right {
      width: 20%;
    }
  }
}
.account-list-item:nth-child(odd) {
    background-color: color(almost-white)!important;
}
.account-list-item:nth-child(even) {
    background-color: color(white)!important;
}
